:host {
  height: 100%;
  margin: 0;

  .flex-root {
    height: 100%;
  }
}

.page-loaded {
  app-layout {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}


.arabic-sidebar {
  right: 0;
  left: unset;
}

@media (max-width: 992px) {
  .arabic-sidebar {
    transform: translateX(100%);
  }
  .arabic-sidebar.show {
    transform: translateX(0%);
  }
}
